<span class="anchor" id="courses"></span>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h1>Cursos de elaboración de vinos</h1>

      <p class="lead">
        La existencia de la primer Bodega de Vinos de Alta Gama y la presencia de nuestros Enólogos, hacen posible la oportunidad de participar de un Curso de Alto Nivel en nuestro país, asistiendo a Clases Teóricas y Prácticas en las que se profundizará en todos los aspectos de los Procesos de Elaboración del Vino, participando activamente en cada paso de la Vinificación y descubriendo la magia del Vino y su Mundo, desde la Molienda de la Uva, su Fermentación, Análisis químicos, Remontajes, Trasiegos, su paso por Barricas, hasta el Envasado y, claro, todo esto acompañado de inolvidables Degustaciones!!!
      </p>

      <p class="lead">
        Se elaborarán distintas Variedades Tintas, Blancas, Rosadas y hasta Champagne!!!! (Por Método Champegnoise).
      </p>

      <p class="lead">
        También se proveerán Materiales Teóricos de soporte, con los cuales se podrá profundizar el aprendizaje sobre el Mundo del Vino… y, quién sabe, conseguir elaborar su propio Vino!!!!
      </p>

      <h2 class="h5">PROGRAMA DE CURSADO</h2>

      <p class="my-3">
        <a href="/assets/es/Programa_Curso_de_Vinificación.pdf" target="_blank" class="btn btn-outline-primary">Descargar PDF</a>
      </p>
    </div>
  </div>
</div>
