<div id="courses" class="container mt-5">
  <h1>Cursos</h1>

  <p class="lead">
    Será una experiencia única donde se brindaran clases teóricas y prácticas dictadas por nuestros enólogos en donde se profundizará en todos los procesos de elaboración y podrán participar en cada paso de la vinificación descubriendo la mágia del vino. Desde la molienda de la uva, su fermentación…, su paso por barricas, hasta su envasado.
  </p>

  <p class="lead">
    Por supuesto en todas nuestras clases haremos degustaciones.
  </p>

  <p class="lead">
    Se elaborarán distintas variedades tintas, blancas, rosados, y hasta Champagne!!!!
  </p>

  <p class="lead">
    Se darán materiales teóricos donde podrán profundizar su aprendizaje sobre el mundo del vino… y quien sabe… quizás hagas tu propio vino!!
  </p>

  <h2 class="h5">PROGRAMA DE CURSADO</h2>

  <p class="my-3">
    <a href="/assets/es/Programa_Curso_de_Vinificación.pdf" target="_blank" class="btn btn-outline-primary">Descargar PDF</a>
  </p>

  <h2 class="h5">PAGO DEL CURSO</h2>
</div>

<div class="my-5">
  <img src="/img/course.jpg" class="img-fluid mx-auto d-block py-4" alt="Bodega Giacometti">
</div>
