<span class="anchor" id="history"></span>

<div class="container pt-4">
  <h1>Historia</h1>

  <p class="lead">
    Bodega Giacometti comenzó con la idea de que lo imposible no sólo fuese posible, sino también lograrlo de la forma más perfecta y precisa. Cesar Victorio Giacometti y Ruth Dominguez hicieron realidad un sueño en el cual nacieron nuevos viñedos y grandes vinos. 
  </p>

  <p class="lead">
    Con un gran soporte técnico e investigaciones se logro plantar viñedos en uno de los lugares mas extremos del mundo, “El Chaco Paraguayo”, y lleno de historia. A su vez se logro congelar uvas de distintas zonas del mundo y traerlas a la República del Paraguay donde se vinificaron con los máximos cuidados produciendo vinos únicos. 
  </p>

  <p class="lead">
    Reescribiendo la historia de la vitivinicultura en Paraguay con la primer Bodega de vinos Alta gama
  </p>
</div>

<div class="mt-5 mb-3">
  <img src="/img/history.jpg" class="img-fluid mx-auto d-block py-4" alt="Bodega Giacometti">
</div>
