<span class="anchor" id="history"></span>

<div class="container pt-4">
  <h1>Un poco de historia</h1>

  <p class="lead">
    Bodega Giacometti nació de la idea de que lo imposible, hecho con pasión, no sólo es posible, sino que también se puede lograr de la forma más perfecta y precisa.
  </p>

  <p class="lead">
    César Victorio Giacometti y Ruth Lorena Dominguez hicieron realidad este sueño del cual nacieron Nuevos Viñedos y Grandes Vinos.
  </p>

  <p class="lead">
    Con un fuerte soporte técnico, y luego de arduas investigaciones y experiencias, se lograron implantar viñedos en uno de los lugares más extremos y lleno de historia del mundo, “El Chaco Paraguayo”,. A su vez, se logró traer al Paraguay uvas congeladas de distintas zonas del mundo, para vinificarlas con los máximos cuidados y la mejor tecnología, produciendo vinos únicos.
  </p>

  <p class="lead">
    Si la Vitivinicultura es el arte de cultivar la Vid y elaborar el Vino, en Paraguay estamos reescribiendo su historia con la primer Bodega de Vinos de Alta Gama.
  </p>
</div>

<div class="mt-5 mb-3">
  <img src="/img/history.jpg" class="img-fluid mx-auto d-block py-4" alt="Bodega Giacometti">
</div>
