<div id="vineyards" class="container mt-5">
  <h1>Viñedos</h1>

  <h2 class="h5">Viñedo experimental:</h2>

  <p class="lead">
    Mayor Infante Rivarola, cuenta con 18 variedades (7 variedades blancas y 11 			variedades tintas). Fecha de plantación: 02 de Octubre de 2018
  </p>

  <h2 class="h5">Viñedo Yacaré:</h2>

  <p class="lead">
    Mayor Infante Rivarola, 10 hectareas en espaldero
  </p>

  <h2 class="h5">Viñedos Argentina:</h2>

  <ul class="list-unstyled lead">
    <li>
      Tunuyan, Altamira; Vistaflores; La Consulta (cosecha 2018)
    </li>
    <li>
      Tunuyan, Altamira; La Consulta (cosecha 2019)
    </li>
    <li>
      Tupungato, Gualtallary; San Pablo (cosecha 2019)
    </li>
    <li>
      Lujan de Cuyo (cosecha 2019)
    </li>
    <li>
      Rivadavia, Divisadero; La Central (cosecha 2019)
    </li>
  </ul>
</div>

<div class="my-5">
  <img src="/img/vineyards.jpg" class="img-fluid mx-auto d-block py-4" alt="Bodega Giacometti">
</div>
