<span class="anchor" id="visits"></span>

<div class="container mt-4">
  <h1>Visitas</h1>

  <p class="lead">
    En nuestras visitas mostraremos todas las instalaciones, se explicaran con detalle los procesos de elaboración y degustaran grandes vinos. Creando una experiencia única.
  </p>

  <h2 class="h5">Solicitud de reserva:</h2>

  <ul class="lead">
    <li>Nombre</li>
    <li>Email</li>
    <li>Teléfono</li>
    <li>País</li>
    <li>Idioma</li>
    <li>Cantidad de personas</li>
    <li>Comentario</li>
  </ul>

  <p class="lead">
    Solicitud de reserva sujeta a disponibilidad. Se hará efectiva luego de recibir confirmación por parte de la bodega.
  </p>

  <h2 class="h5">PAGO DE LA VISITA</h2>
</div>
